
 
<h1>Sign up</h1>

<%= form_for @user, :url => {:controller => "sign_up", :action => "receive"},  :html => {:method => :post} do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <br><br>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <br><br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br><br>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <br><br>
      <%= f.submit "Create my account" %>
    
    <% end %>
