<% provide(:title , "Splittr")%>

<h1><center> S P L I T T R  </center></h1>

<br><br>
<h2>Login</h2>

<%= form_for @user , :url => {:controller => "login" , :action => "home" }, :html => {:method => :post} do |f| %>
	<%= f.label :email %>
	<%= f.email_field :email %>
	<br><br>
	
	<%= f.label :password %>
	<%= f.password_field :password %>
	<br><br>
	
	<%= f.submit "Login" %>
	
	<br><br>
	
    Not Registered ? 
	
	<%= link_to "Sign Up" , 'signup_path' %>
	
	
<%end%>